@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import "tailwindcss";

@theme {
  /* Font */
  --font-helvetica-neue: "Helvetica Neue", sans-serif;

  /* Color */
  /* black */
  --color-black-001: #0f0f0f;
  --color-black-002: rgba(25, 25, 25, 0.95);

  /* gray */
  --color-gray-001: rgba(255, 255, 255, 0.1);
  --color-gray-002: rgba(255, 255, 255, 0.5);

  /* white */
  --color-white-001: #ffffff;
  --color-white-002: rgba(255, 255, 255, 0.95);
  --color-white-003: rgba(255, 255, 255, 0.9);
  --color-white-004: rgba(255, 255, 255, 0.85);
  --color-white-005: rgba(255, 255, 255, 0.8);
}
